<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Miaoran Zhang</a></h1>
            <p>If this is your dream, never give up.<br />
            If one way doesn’t work, try another.</p>
        </header>
        <footer>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/miaoran-zhang-07923394/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/mrzhang11" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:miaoranzhang@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

